form {
    margin-left: 10%;
}

input,
label {
    display: block;
}

.formInput {
    height: 40px;
    width: 375px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(241, 72, 72);
    font-size: large;
    margin-bottom: 25px;
}

.submitButton {
    height: 60px;
    width: 240px;
    margin-left: 4%;
    background-color: #00bc19;
    color: white;
    border-radius: 5px;
    border: 0px solid;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #017e11;
}